# Exclude everything
**

# Include these files/folders
!.gitignore
!server.properties
!*.jar
!start.*
!eula.txt

# !**.json
# !**.yml

# !world*/
# !world*/**

!plugins/
plugins/*
!plugins/**.jar

!plugins/*/
plugins/*/*
!plugins/*/config.yml

!plugins/floodgate/*.jar
!plugins/Skript/clearlag.sk